<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <nav>
    <img src="/images/airplane-57-128.gif" id="plane-icon">
    <a href="/flights/new">Add Flight</a>
    <a href="/tickets/new"> Add ticket</a>

  </nav>
  <main>
    