<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1 id="title"><%= title %></h1>
    <a href="/flights" id="current-flights">Current Flights</a>
  </body>
</html>
